<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body ng-controller="mainCtrl">

<button type="button" name="button" ng-click="getBeers()">Next Page</button>

<ul ng-repeat="beer in beers">
  <li ng-show=toggle({{beer.name}})>Name: {{beer.name}}</li>
  <li ng-show=toggle({{beer.abv}})>ABV: {{beer.abv}}</li>
  <li ng-show=toggle({{beer.description}})>Description: {{beer.description}}</li>
  <li ng-show=toggle({{beer.glass.name}})>Serving Glass: {{beer.glass.name}}</li>
  <li ng-show=toggle({{beer.isOrganic}})>Organic? : {{beer.isOrganic}}</li>
  <li ng-show=toggle({{beer.srm.name}})>Beer Color: {{beer.srm.name}}</li>
  <!-- <li>{{beer.style.}}</li>
  <li>{{beer.style.}}</li>
  <li>{{beer.style.}}</li>
  <li>{{beer.style.}}</li>
  <li>{{beer.style.}}</li>
  <li>{{beer.style.}}</li> -->

</ul>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
<script src="./controllers/appCtrl.js"></script>
<script src="./controllers/appService.js"></script>
<script src="./controllers/mainCtrl.js"></script>
  </body>
</html>
