<nav-bar></nav-bar>
<style media="screen">
[ng-click]{
  cursor: pointer;
}
.red {
    background-color: #EDAC3F;
}
body {
  background-color: #222222;
  max-height: 585px
}
.list-group-item {
background-color: #7C898B;
height: 585px;
overflow: auto;
}
.breweryPic{
  overflow: auto;
  height: 585px;
}
.beer-name {
  height: 277px;
  padding-top: -25px;
  overflow: auto;
  text-align: center;
}
.beer-desc {
  height: 277px;
  overflow: auto;
}
</style>

<!-- <div class="header">
<h1>{{brewery.nameShortDisplay}}</h1>
</div> -->


<div class="container-fluid">
  <div class="col-sm-3 col-md-3 col-lg-3 breweryPic list-group">
    <div class="list-group-item">
      <ul ng-class="red" ng-repeat="beer in beerList" ng-click="selectABeer(beer.id)">
        <div
        ng-class="{red: hover}"
        ng-mouseenter="hover = true"
        ng-mouseleave="hover = false">
          <li class="list-group-item-heading">Name: {{beer.name}}</li>
          <li class="list-group-item-text">Style: {{beer.style.shortName}}</li>
          <li class="list-group-item-text">ABV Range: {{beer.style.abvMin}}-{{beer.style.abvMax}}</li>
        </div>
        <hr>
      </ul>
    </div>
  </div>


  <div class="col-sm-9 col-md-9 col-lg-9" style="object-fit: cover;">
    <img ng-if="breweryImg" style="
    background-image: url({{brewery.images.squareLarge}});
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 585px;
    width: 100%;
    border-radius: 10px;"

    />


    <div ng-if="beerInfo" class="jumbotron beer-name">

      <h3>{{selectedBeer.name}}<h3>
      <p>{{selectedBeer.description}}</p>
        <img ng-src="{{selectedBeer.labels.medium}}" alt="" />
      </div>
    <div ng-if="beerInfo">
      <div class="jumbotron beer-desc ">
        Style guidlines:
        <br>
        <ul>
          <li ng-if="selectedBeer.style.category.name"><b>Style:</b> {{selectedBeer.style.category.name}}</li>
          <li ng-if="selectedBeer.foodPairings"><b>Food Pairings:</b> {{selectedBeer.foodPairings}}</li>
          <li ng-if="selectedBeer.style.abvMin"><b>ABV range:</b> {{selectedBeer.style.abvMin}} - {{selectedBeer.style.abvMax}}</li>
          <li ng-if="selectedBeer.style.description"><b>Style description:</b> {{selectedBeer.style.description}}</li>
          <li ng-if="selectedBeer.style.fgMin"><b>Final gravity:</b> {{selectedBeer.style.fgMin}} - {{selectedBeer.style.fgMax}}</li>
          <li ng-if="selectedBeer.style.ibuMin"><b>IBU's:</b> {{selectedBeer.style.ibuMin}} - {{selectedBeer.style.ibuMax}}</li>
          <li ng-if="selectedBeer.style.srmMin"><b>SRM range:</b> {{selectedBeer.style.srmMin}} - {{selectedBeer.style.srmMax}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer-nav>bender &copy;</footer-nav>
