<nav-Bar></nav-Bar>
<style media="screen">
body {
  background-color: #222222;
  max-height: 650px
}
.red {
    background-color: #EDAC3F;
    border-radius: 10px;
}
.div-body{
  height: 600px;
  overflow: auto;
}
.beer-Name-Search {
  height: 33px;
}
.card {
  height: 450px;
  background-color: rgba(124,137,139, .5);
  border-radius: 10px;
  overflow: auto;
  padding: 3px;
}
.card-deck{
  margin-bottom: 20px;
}
.page-search {
  margin-left: 30px;
  margin-right: 30px;
}
.card-title{
    text-align: center;
}
.card-img-bottom{
  width: 100%;
  height: 50px;
}
</style>
<div class="container-fluid div-body">
  <div class="page-search">
    <div class="row">
      <div class="pull-left">
        <button type="button " name="button" class="btn btn-default" ng-click="getBeers('previousPage')">Prev Page</button>
        <button class="btn btn-default" type="button" name="button" ng-click="getBeers()">Next Page</button>
      </div>
        <div class="pull-right">
          <input ng-keyup="$event.keyCode == 13 && searchByBeerName(beerSearch)" type="form" class="beer-Name-Search" placeholder="Search by beer name" value="" ng-model="beerSearch">
          <button type="button" name="button" class="btn btn-default" ng-click="searchByBeerName(beerSearch)">Submit</button>
      </div>
    </div>
  </div>
  <div class="card-deck-wrapper">
    <div class="card-deck col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="beer in beers">
      <div ng-class="{red: hover}"
      ng-mouseenter="hover = true"
      ng-mouseleave="hover = false">
        <div class="card">
          <div class="card-block">
            <p class="card-title"><img class="card-img-label" style="background-color: #{{beer.hex}}"/></p>
            <h3 class="card-title">Beer Name:  {{beer.name}}</h3>
            <p class="card-title"><b>Beer Color:</b> <br><img class="card-img-bottom" style="background-color: #{{beer.hex}}"/></p>
            <p class="card-text"><b>Description:</b>  {{beer.shortDesc}}</p>
            <p class="card-text"><b>ABV:</b>  {{beer.abv}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-nav></footer-nav>
