<nav-Bar></nav-Bar>
<div class="container">
    <div class="row">
      <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-4" style="font-family: Poller One;">
        <h4> You find yourself in the bar. You like beer but don't know what to order. There are so many styles. So many breweries. SO MANY BEERS.
        <p><br>
        To get information on local breweries, input your zipcode above. If you're just looking for information about beers, breweries, or beer styles, select a link.
        </p>
        </h4>
      </div>
      <div class="card col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
<img style="width: 650px;" src="./pictures/wallpaper1024x768.jpg" alt="" />
      </div>
    </div>
</div>
