<nav-Bar></nav-Bar>
<style media="screen">
</style>
<div class="container">
    <div class="row">
      <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-4" style="font-family: Poller One;">
        <h4> You find yourself in the bar. You like beer but don't know what to order. There are so many styles. So many breweries. SO MANY BEERS.
        <p><br>
        To get information on local breweries, input your zipcode above. Select local brewies from the map, browse their catalog and order with confidence.
        </p>
        <p><br>
        If you're just looking for information about beers, breweries, or beer styles, we got you covered there too!
        </p>
        </h4>
      </div>
      <div class="card col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right">
<img style="height: 500px;" src="pictures/2d826ca9-60ad-45c8-8316-b7f92b6597f7.png" alt="" />
      </div>
    </div>
</div>
