<style media="screen">
.jumbotron{
  background-image: url(pictures/EOZpjI3oSqKPNnF2S4Tp_Untitled.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 620px;
  margin-bottom: -25px;
  padding-bottom: -10px
}
body {
  background-color: #222222;
  max-height: 650px
}
.jumbotext{
  background-color: rgba(0, 0, 0, .7);
  border-radius: 30px;
}
h2{
  color: white;
}
</style>

<nav-Bar></nav-Bar>
<div class="container-fluid jumbotron">
  <div class="container jumbotext">
    <h2> You find yourself in the bar. You like beer but don't know what to order. There are so many styles. So many breweries. SO MANY BEERS.
    <p><br>
    To get information on local breweries, input your zipcode above. Select local brewies from the map, browse their catalog and order with confidence.
    </p>
    <p><br>
    If you're just looking for information about beers, breweries, or beer styles, we got you covered there too!
    </p>
    </h2>
  </div>
</div>
<footer-nav>
  bender &copy;
</footer-nav>
