<nav-bar></nav-bar>
<style media="screen">
  .angular-google-map-container { height: 550px;   margin-top: 35px; overflow: auto
  }
[ng-click]{
  cursor: pointer;
}
.red {
    background-color: red;
}
</style>
<div class="container-fluid" ng-controller="mapCtrl">

  <div class="row">
    <div ng-if='mapRefresh' class="col-sm-3 col-md-3 col-lg-3 angular-google-map-container">

      <ul ng-repeat="brewery in markerList" ng-click="goToBreweryPage(brewery.bId)">
        <div
          ng-class="{red: hover}"
          ng-mouseenter="hover = true"
          ng-mouseleave="hover = false">
          <li>Brewery: {{brewery.name}}</li>
          <li>Distance: {{brewery.distance}}mi</li>
          <hr>
        </div>
      </ul>

    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 pull-right">
      <ui-gmap-google-map ng-if='mapRefresh' center='map.center' zoom='map.zoom'>
        <!-- Home Marker -->
        <ui-gmap-marker options="homeMarker.options" coords="homeMarker.coords"  idkey="homeMarker.id">
        </ui-gmap-marker>
        <!--  Array of local breweries-->
        <ui-gmap-marker ng-repeat="point in markerList" coords="point.coords"  idkey="point.id">
          <ui-gmap-window isIconVisibleOnClick="true">
              {{point.message}}
          </ui-gmap-window>
        </ui-gmap-marker>
        <!-- <ui-gmap-marker idKey="1" coords='marker.coords'> </ui-gmap-marker>
         <marker ng-repeat="marker in markerList" coords='marker'></marker>
      </ui-gmap-google-map> -->
    </div>
  </div>

</div>
