<style media="screen">
  .submit-button{
    background-color: rgb(75, 75, 75);
    border-color: black;
  }
</style>
<nav class="navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home" style="font-size: 60px; font-family: Poller One; ">Bender</a>
    </div>

    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input ng-model="zipCodeInput" type="text" class="form-control" placeholder="Find by Zipcode">
      </div>
      <a type="submit" class="btn btn-primary submit-button" ng-click="searchByZipcode(zipCodeInput)">Submit</a>

    </form>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-right">
      <ul class="nav navbar-nav">
        <li><a ui-sref="mapView">Browse By Area</a></li>
        <li><a ui-sref="browseBeers">Browse Beers</a></li>
        <li><a ui-sref="browseBreweries">Browse Breweries</a></li>
        <li><a ui-sref="browseBeerStyles"> Browse Styles    </a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- google Font: Poller One -->
